body	{background-image: url(kotakijo.jpg); }
p	{color:green;font-size: 170%; text-align: center;}
blockquote { text-align: center;}
p {text-align: center;}
h2	{font-size: 200%; text-align: center; }
ol	{mask-type: square; font-size: 150%;font-family: all;}